---
import PostCard from '@components/PostCard.astro';
import { formatBlogPosts, slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import type { Post } from 'types/utils';

export async function getStaticPaths() {
   return [
      {
         params: { category: slugify('Reference Docs') },
         props: { name: 'Reference Docs' },
      },
      {
         params: { category: slugify('General') },
         props: { name: 'General' },
      },
      {
         params: { category: slugify('CSS') },
         props: { name: 'CSS' },
      },
      {
         params: { category: slugify('Astro') },
         props: { name: 'Astro' },
      },
   ];
}

const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = await Astro.glob('../blog/*.mdx');
const formattedPosts = formatBlogPosts(allPosts as []);
const catPosts = formattedPosts.filter(
   (post: Post) => slugify(post.frontmatter.category) === category
);
---

<MainLayout title={name}>
   <section class="container" aria-label={`Posts about ${name}`}>
      <h1 class="h1">Posts about <span>{name}</span></h1>
      <div class="post-container">
         {
            catPosts.map((post: Post) => (
               <PostCard
                  frontmatter={post.frontmatter}
                  url={post.url}
                  tagType="h2"
               />
            ))
         }
      </div>
   </section>
</MainLayout>