---
import Breadcrumbs from '@components/Breadcrumbs.astro';
import { ArticleNavigation } from '@components/article';
import CodeBlock from '@components/markdown/CodeBlock.astro';
import MarkdownImages from '@components/markdown/MarkdownImages.astro';
import NormalizeLinks from '@components/markdown/NormalizeLinks.astro';
import { formatDate, readingTime, slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import '@styles/blog.css';
import { Markdown } from 'astro-remote';
import { getCollection } from 'astro:content';
import { ViewTransitions } from 'astro:transitions';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
   const blogEntries = await getCollection('blog');

   return blogEntries.map((entry, indexEntry) => ({
      params: { slug: entry.slug },
      props: {
         entry,
         indexEntry,
         nextEntry: blogEntries[indexEntry + 1],
         prevEntry: blogEntries[indexEntry - 1],
      },
   }));
}

// 2. For your template, you can get the entry directly from the prop
const { entry, nextEntry, prevEntry } = Astro.props;
---

<MainLayout
   title={entry.data.title}
   description={entry.data.excerpt}
   featured_image={entry.data.featured_image}
   frontmatter={entry}
>
   <ViewTransitions />
   <Breadcrumbs
      links={[
         { name: 'Inicio', path: '/' },
         { name: 'Blog', path: '/blog' },
         {
            name: entry.data.title,
            path: `/blog/${entry.slug}`,
            linkIsActive: 'is-active',
         },
      ]}
   />
   <article class="article-content-wrapper" transition:animate="slide">
      <div class="article-top-prev-next-wrapper">
         <ArticleNavigation {prevEntry} {nextEntry} />
      </div>

      <div class:list={['article-content']}>
         <h1 class="article-main-heading">{entry.data.title}</h1>
         <h2 class="article-main-heading-excerpt">{entry.data.excerpt}</h2>
         <div class="author-info">
            <span class="author"
            ><a
                  data-normal-link
                  href={`/blog/author/${slugify(entry.data.author)}/`}
               >{entry.data.author}</a
               ></span
            >
            <span class="reading-time"
            >Lectura de {readingTime(entry.body).time} min - {
                  formatDate(entry.data.date)
               }</span
            >
         </div>
         <Markdown
            content={entry.body}
            sanitize={{ allowComponents: true }}
            components={{ img: MarkdownImages, CodeBlock, a: NormalizeLinks }}
         />
      </div>
   </article>
</MainLayout>

<style>
   .article-content-wrapper {
      padding: 25px;
   }
   .article-content-wrapper a.markdown-link {
      padding: 5px 0;
      display: inline-block;
   }
   .article-top-prev-next-wrapper {
      display: flex;
      justify-content: space-between;
      height: 25px;
   }
   .article-main-heading {
      text-align: center;
      font-size: 3em;
      padding: 15px 0;
   }

   .article-main-heading-excerpt {
      font-weight: 200;
      color: #666;
      padding: 0 0 15px 0;
      text-align: center;
      line-height: 30px;
      font-size: 1em;
   }
   .author-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-bottom: 20px;
   }
   .reading-time {
      color: #777;
      font-size: 0.8em;
   }

   @media screen and (width <= 500px),
      screen and (width >= 600px),
      screen and (width >= 400px) {
      .article-content-wrapper {
         padding: 5px;
      }
   }
</style>
