---
import FormCommentGiscus from '@components/FormCommentGiscus.astro';
import RelatedArticles from '@components/RelatedArticles.astro';
import {
   ArticleAuthor,
   ArticleAuthorContainer,
   ArticleInfoContainer,
   ArticleToolbarNavigation,
   ArticleReadingTime,
   ArticleTools
} from '@components/article';
import ArticleContainer from '@components/article/ArticleContainer.astro';
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
import TagHeading from '@components/common/TagHeading.astro';
import CodeBlock from '@components/markdown/CodeBlock.astro';
import Heading from '@components/markdown/Heading.astro';
import Note from '@components/markdown/Note.astro';
import MarkdownImages from '@components/markdown/MarkdownImages.astro';
import NormalizeLinks from '@components/markdown/NormalizeLinks.astro';
import PostCardCategory from '@components/postcard/PostCardCategory.astro';
import SearchBar from '@components/search-bar/SearchBar.astro';
import SocialShareFooter from '@components/social-share/SocialShareFooter.astro';
import SocialShareOptions from '@components/social-share/SocialShareOptions.astro';
import SocialShareTitle from '@components/social-share/SocialShareTitle.astro';
import Tags from '@components/tags/Tags.astro';
import { MyBlog as Blog } from '@js/builders';
import { slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import '@styles/blog.css';
import Modal from '@xexiu/astro-modal';
import ProgressBar from '@xexiu/astro-progress-bar';
import AstroSpeech from '@xexiu/astro-speech';
import { Icon } from 'astro-icon';
import { Markdown } from 'astro-remote';
import { getCollection } from 'astro:content';
// Cookie not working in prod (but works locally) because of this:
// https://answers.netlify.com/t/cookie-not-set-in-deployment-but-works-in-localhost/97069

export async function getStaticPaths() {
   const blogEntries = await getCollection('blog');

   return blogEntries.map((entry) => {
      return {
         params: { slug: entry.slug },
         props: {
            entry,
            blogEntries
         }
      };
   });
}

const { entry, blogEntries } = Astro.props;
const blog = new Blog({ blogs: blogEntries, post: entry, cookie: Astro.request.headers.get('cookie') });
const post = blog.getPost(entry);
const { allBlogs } = blog;
const { nextEntry, prevEntry, relatedArticles, unslugifiedPostTags } = post;
const { title, excerpt, category } = entry.data;
---

<MainLayout
   title={entry.data.title}
   description={entry.data.excerpt}
   featured_image={entry.data.featured_image}
   frontmatter={entry}
>
   <SearchBar data={allBlogs} slot="search-bar" />
   <ProgressBar excludeElementSelector=".container-comments" />
   <Breadcrumbs
      links={[
         { name: 'Blog', path: '/blog' },
         {
            name: title,
            path: `/blog/${entry.slug}`,
            linkIsActive: 'is-active'
         }
      ]}
   />
   <ArticleContainer ariaLabel={title}>
      <div class="article-top-prev-next-wrapper">
         <ArticleToolbarNavigation {prevEntry} {nextEntry} {blogEntries} />
      </div>

      <div class="category-containter">
         <PostCardCategory
            href={`/blog/category/${slugify(category)}/`}
            text={category}
         />
      </div>

      <div class:list={['article-content']}>
         <section class="post-heading">
            <TagHeading tag="h1" classes="article-main-heading" itemprop="name">
               {title}
            </TagHeading>
            <TagHeading tag="h2" classes="article-main-heading-excerpt" itemprop="description">
               {excerpt}
            </TagHeading>
            <Tags tags={unslugifiedPostTags} />
         </section>
         <section class="markdown-wrapper">
            <Markdown
               content={entry.body}
               sanitize={{ allowComponents: true }}
               components={{
                  img: MarkdownImages,
                  CodeBlock,
                  a: NormalizeLinks,
                  Heading,
                  Note
               }}
            />
         </section>
         <ArticleInfoContainer>
            <ArticleAuthorContainer>
               <ArticleAuthor post={entry} />
               <ArticleReadingTime post={entry} />
            </ArticleAuthorContainer>
            <ArticleTools>
               <div class="article-speech-container">
                  <AstroSpeech
                     title="Escuchar Artículo"
                     text={`título: ${title}, descripción: ${excerpt}, artículo: ${entry.body}`}
                     classes="tooltip"
                     data-tooltip-placement="top"
                     btnClasses="listen-article"
                     rate={1}
                  />
               </div>
               <div class="article-share-container">
                  <Modal
                     id="shareSocial"
                     ariaLabel="Compartir en las redes"
                     modalBtnClass="modal-button"
                     btnCloseAriaLabel="Cerrar Modal"
                  >
                     <Icon
                        name="octicon:share-16"
                        height="28"
                        width="28"
                        slot="open-modal-button"
                        class="icon-share-modal"
                        aria-label="Compartir en las redes"
                     />
                     <SocialShareTitle slot="modal-title" />
                     <SocialShareOptions
                        slot="modal-main"
                        linkUrl={`https://xexiu.dev/blog/${entry.slug}`}
                        {title}
                        {excerpt}
                     />
                     <SocialShareFooter
                        slot="modal-footer"
                        text={`https://xexiu.dev/blog/${entry.slug}`}
                     />
                  </Modal>
               </div>
            </ArticleTools>
         </ArticleInfoContainer>
      </div>
      <RelatedArticles {relatedArticles} />
      <FormCommentGiscus />
   </ArticleContainer>
</MainLayout>
