---
export const prerender = false; // Need for Astro.cookie in PROD
import Posts from '@components/postcard/Posts.astro';
import SearchBar from '@components/search-bar/SearchBar.astro';
import SectionContainer from '@components/section/SectionContainer.astro';
import Tags from '@components/tags/Tags.astro';
import { MyBlog as Blog } from '@js/builders';
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/blog-data.json';
import Tabs from '@xexiu/astro-tabs';
import { Icon } from 'astro-icon';
import { getCollection } from 'astro:content';

const blogEntries = await getCollection('blog');
const blog = new Blog({ blogs: blogEntries, post: null, cookie: Astro.request.headers.get('cookie') });
const { blogs, isAdmin, allBlogs } = blog;
const { tags } = blogs;
const keys = Object.keys(blogs);
const blogKeys = keys.slice(0, 3);
---

<MainLayout title={data.title} description={data.description}>
   <SearchBar data={allBlogs} slot="search-bar" />
   <SectionContainer ariaLabel="Publicaciones Recientes">
      <div class="blog-page">
         <Tabs
            keys={blogKeys}
            tabTitles={['Últimos artículos', 'Destacados', 'Privados']}
         >
            {
               (key: string) => {
                  if (key === 'private' && !isAdmin) {
                     return (
                        <div class="private-layout">
                           <span>Este contenido es privado</span>
                           <Icon
                              name="carbon:virtual-private-cloud"
                              height={44}
                              width={44}
                              class="contenido-privado-icon"
                              alt="Contenido Privado"
                           />
                        </div>
                     );
                  }

                  return (
                     <Fragment>
                        <Posts entries={blogs[key]} />
                        <div class="post-card-tags-container">
                           <Tags
                              tags={tags}
                              showCountBadge={true}
                              classes="blog-page-tag"
                           />
                        </div>
                     </Fragment>
                  );
               }
            }
         </Tabs>
      </div>
   </SectionContainer>
</MainLayout>

<style is:inline>
   .private-layout {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f0f0f0;
      font-size: var(--fs-lg);
      text-align: center;
      box-sizing: border-box;
   }

   .contenido-privado-icon {
      margin: 0 auto;
   }

   .tab-wrapper:has(.radio-tab:checked) {
      box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
      text-shadow: 0 2px 3px rgb(255 255 255 / 40%);
      &:hover {
         box-shadow: var(--shadow-md);
      }
   }
</style>
