---
import Tabs from '@components/Tabs/Tabs.astro';
import Posts from '@components/postcard/Posts.astro';
import SearchBar from '@components/search-bar/SearchBar.astro';
import SectionContainer from '@components/section/SectionContainer.astro';
import Tags from '@components/tags/Tags.astro';
import { getCollectionFor } from '@js/server/utils';
import { getTagsFor, isUserAdmin } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/blog-data.json';
import { Icon } from 'astro-icon';
import { Debug } from 'astro:components';
import { getCollection } from 'astro:content';
import type { Cookies } from 'types/utils';

const isAdmin = isUserAdmin(Astro.cookies as Cookies);
const blogs = await getCollectionFor('blog', isAdmin, getCollection);
const blogTags = getTagsFor(isAdmin, blogs);
const keys = Object.keys(blogs);
const cookie = Astro.request.headers.get('cookie');
const { locals } = Astro;
---

<MainLayout title={data.title} description={data.description}>
   <SearchBar data={[...blogs.latest, ...blogs.pinned]} slot="search-bar" />
   <SectionContainer ariaLabel="Publicaciones Recientes">
      <Debug answer={isAdmin} />
      <Debug cookie={cookie} />
      <Debug locals={locals} />
      <div class="blog-page">
         <Tabs
            {keys}
            tabTitles={['Últimos artículos', 'Destacados', 'Privados']}
         >
            {
               (key: string) => {
                  if (key === 'private' && !isAdmin) {
                     return (
                        <div class="private-layout">
                           <span>Este contenido es privado</span>
                           <Icon
                              name="carbon:virtual-private-cloud"
                              height={44}
                              width={44}
                              class="contenido-privado-icon"
                              alt="Contenido Privado"
                           />
                        </div>
                     );
                  }

                  return (
                     <Fragment>
                        <Posts entries={blogs[key]} />
                        <div class="post-card-tags">
                           <Tags
                              tags={blogTags}
                              showCountBadge={true}
                              classes="blog-page-tag"
                           />
                        </div>
                     </Fragment>
                  );
               }
            }
         </Tabs>
      </div>
   </SectionContainer>
</MainLayout>

<style is:inline>
   .post-card-tags {
      display: flex;
      padding: 10px 0;
   }
   .private-layout {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f0f0f0;
      font-size: var(--fs-lg);
      text-align: center;
      box-sizing: border-box;
   }

   .contenido-privado-icon {
      margin: 0 auto;
   }
</style>
