---
import { PostCard } from '@components/postcard';
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/blog-data.json';
import { getCollection } from 'astro:content';

const blogEntries = await getCollection('blog');
---

<MainLayout title={data.title} description={data.description}>
   <section class="container" aria-label="Publicaciones Recientes">
      <div class="post-container">
         {blogEntries.map((post) => <PostCard {post} />)}
      </div>
      <!-- <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
      <aside class="container" aria-label="Blog categories">
         <h2 class="h3">Blog Categories</h2>
         <CategoryCloud showCount={true}/>
      </aside> -->
   </section>
</MainLayout>