---
import { Link } from '@components/common/link';
import type { PostNullable, Post } from 'types/utils';

interface Props {
   nextEntry: PostNullable;
   prevEntry: PostNullable;
   blogEntries: Post[];
}

const { prevEntry, nextEntry } = Astro.props;
---

{
   prevEntry && (
      <div class="prev-article">
         <h5>
            <Link
               text={prevEntry.data.title}
               href={`/blog/${prevEntry.slug}`}
               isFilled={false}
               data-normal-link
               aria-label={`Prev article: ${prevEntry.data.title}`}
               data-prev-article
            />
         </h5>
      </div>
   )
}

{
   nextEntry && (
      <div class="next-article">
         <h5>
            <Link
               text={nextEntry.data.title}
               href={`/blog/${nextEntry.slug}`}
               isFilled={false}
               data-normal-link
               aria-label={`Next article: ${nextEntry.data.title}`}
               data-next-article
            />
         </h5>
      </div>
   )
}

<style is:inline>
   .prev-article,
   .next-article {
      .btn-blue {
         padding: 10px;
         height: 40px;
         display: inline-block;
         width: 100%;
      }
   }

   .prev-article,
   .next-article {
      width: 40%;
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      & span {
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
         display: inline-block;
         width: 100%;
      }
   }

   .prev-article {
      margin-right: auto;
      justify-content: flex-start;
      & span {
         padding-left: 20px;
      }
      &:before {
         background: #222;
         bottom: 0;
         clip-path: polygon(50% 0, 0 50%, 50% 100%);
         content: "";
         position: absolute;
         top: 5px;
         left: 0;
         transition: background 0.2s linear;
         width: 15px;
         height: 10px;
         z-index: 1;
      }
   }

   .next-article {
      margin-left: auto;
      justify-content: flex-end;
      & span {
         padding-right: 20px;
         text-align: end;
      }
      &:before {
         background: #222;
         bottom: 0;
         clip-path: polygon(50% 50%, -50% -50%, 0 100%);
         content: "";
         position: absolute;
         top: 2px;
         right: -7px;
         transition: background 0.2s linear;
         width: 20px;
         height: 15px;
         z-index: 1;
      }
   }

   .prev-article h5,
   .next-article h5 {
      flex: 1;
      overflow: hidden;

      & a span {
         font-size: var(--fs-2sm);
      }
   }
</style>
