---
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
import TagHeading from '@components/common/TagHeading.astro';
import Posts from '@components/postcard/Posts.astro';
import SectionContainer from '@components/section/SectionContainer.astro';
import { slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import { MyBlog as Blog } from '@js/builders';

export async function getStaticPaths() {
   const blogEntries = await getCollection('blog', ({ data }) => {
      return data.is_private !== true;
   });

   return blogEntries.map((entry) => ({
      props: { categoryName: entry.data.category, blogEntries },
      params: { category: slugify(entry.data.category) }
   }));
}

const { category } = Astro.params;
const { categoryName, blogEntries } = Astro.props;
const blog = new Blog({ blogs: blogEntries, post: null, cookie: Astro.request.headers.get('cookie') });
const catPosts = blog.getPostsFor({
   propertyName: 'category',
   property: category
}).sort((_a, b) => (b.data.featured_post ? 1 : -1));
---

<MainLayout title={category}>
   <Breadcrumbs
      links={[
         { name: 'Blog', path: '/blog' },
         {
            name: categoryName,
            path: `/blog/category/${category}`,
            linkIsActive: 'is-active'
         }
      ]}
   />
   <SectionContainer ariaLabel={`Posts about ${categoryName}`}>
      <span>Publicaciones en la categoria:</span>
      <TagHeading classes="post-category" tag="h1">{categoryName}</TagHeading>
      <Posts entries={catPosts} />
   </SectionContainer>
</MainLayout>

<style>
   .post-category {
      margin: 20px 0;
      text-transform: uppercase;
      text-align: center;
   }
</style>
