---
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
import TagHeading from '@components/common/TagHeading.astro';
import Posts from '@components/postcard/Posts.astro';
import SectionContainer from '@components/section/SectionContainer.astro';
import { getCollectionFor } from '@js/server/utils';
import { getPostsFor, isUserAdmin, slugify, unslugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const cookie = Astro.request.headers.get('cookie');
const isAdmin = isUserAdmin(cookie);

export async function getStaticPaths() {
   const blogEntries = await getCollection('blog');

   return blogEntries.map((entry) => ({
      props: { categoryName: entry.data.category },
      params: { category: slugify(entry.data.category) }
   }));
}

const { category } = Astro.params;
const { categoryName } = Astro.props;
const blogs = await getCollectionFor('blog', isAdmin, getCollection);
const catPosts = getPostsFor({
   propertyName: 'category',
   blog: blogs,
   property: String(category)
});
const _categoryName = unslugify(categoryName);
---

<MainLayout title={category}>
   <Breadcrumbs
      links={[
         { name: 'Inicio', path: '/' },
         { name: 'Blog', path: '/blog' },
         {
            name: _categoryName as string,
            path: `/blog/category/${category}`,
            linkIsActive: 'is-active'
         }
      ]}
   />
   <SectionContainer ariaLabel={`Posts about ${_categoryName}`}>
      <span>Publicaciones en la categoria:</span>
      <TagHeading classes="post-category" tag="h1">{_categoryName}</TagHeading>
      <Posts entries={catPosts} />
   </SectionContainer>
</MainLayout>

<style>
   .post-category {
      margin: 20px 0;
      text-transform: uppercase;
      text-align: center;
   }
</style>
