---
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
import TagHeading from '@components/common/TagHeading.astro';
import Posts from '@components/postcard/Posts.astro';
import SectionContainer from '@components/section/SectionContainer.astro';
import { getCollectionFor } from '@js/server/utils';
import { getPostsFor, slugify } from '@js/utils';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const isAdmin = !!Astro.cookies.get('isAdmin') || !!Astro.cookies.get('nf_jwt');

export async function getStaticPaths() {
   const blogs = await getCollection('blog');
   const blogTags = blogs.flatMap((entry: any) => entry.data.tags);

   return blogTags.map((tag: string) => ({
      params: { tag: slugify(tag) }
   }));
}

const { tag } = Astro.params;

const blogs = await getCollectionFor('blog', isAdmin, getCollection);
const tagPosts = getPostsFor({
   propertyName: 'tags',
   blog: blogs,
   property: String(tag),
});
---

<MainLayout title={tag}>
   <Breadcrumbs
      links={[
         { name: 'Inicio', path: '/' },
         { name: 'Blog', path: '/blog' },
         {
            name: tag as string,
            path: `/blog/tag/${tag}`,
            linkIsActive: 'is-active',
         },
      ]}
   />
   <SectionContainer ariaLabel={`Posts about ${tag}`}>
      <span>Publicaciones etiquetadas con:</span>
      <TagHeading classes="post-tags" tag="h2">{tag}</TagHeading>
      <Posts entries={tagPosts} />
   </SectionContainer>
</MainLayout>

<style>
   .post-tags {
      margin-bottom: 20px;
      text-transform: uppercase;
      text-align: center;
   }
</style>
