---
import TagHeading from '@components/common/TagHeading.astro';
import { Link } from '@components/common/link';
import { slugify } from '@js/utils';
import Tags from '@components/tags/Tags.astro';
import PostCardContainer from './PostCardContainer.astro';
import PostCardImage from './PostCardImage.astro';
import PostCardCategory from './PostCardCategory.astro';
import PostCardDetailsContainer from './PostCardDetailsContainer.astro';
import PostCardDetails from './PostCardDetails.astro';
import PostCardExcerpt from './PostCardExcerpt.astro';

const { post } = Astro.props;
const { category, featured_image, title, date, author, excerpt, tags } =
   post.data;
---

<PostCardContainer>
   <Link
      href={`/blog/${post.slug}`}
      isFilled={false}
      classes="post-link-wrapper"
      text={title}
   />
   {
      featured_image?.src && (
         <PostCardImage
            src={featured_image.src}
            alt={featured_image.alt}
            width="400"
            height="250"
            quality={80}
            classes="post-card-img"
         />
      )
   }
   <PostCardCategory
      href={`/blog/category/${slugify(category)}/`}
      text={category}
   />
   <PostCardDetailsContainer>
      <TagHeading tag="h3">
         <Link
            href={`/blog/${post.slug}`}
            isFilled={false}
            classes="post-title"
            text={title}
         />
      </TagHeading>
      <PostCardExcerpt {excerpt} />
      <PostCardDetails {author} {date} />
      <div class="post-card-tags-container">
         <Tags {tags} />
      </div>
   </PostCardDetailsContainer>
</PostCardContainer>

<style is:global>
   .post-card-tags-container {
      display: flex;
      padding: 10px 0;
   }
   #main-body .post-title {
      padding: 0 0 5px 0;
      display: flex;
      color: #222;
      text-decoration: none;
      position: relative;
      & span {
         display: -webkit-box;
         max-width: 100%;
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         overflow: hidden;
      }
   }
   .post-link-wrapper {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      overflow-wrap: anywhere;
      width: 100%;
      height: 70%;
      z-index: 10;
   }
   #main-body .post-link-wrapper:hover ~ * .post-title {
      color: var(--color-red);
   }
</style>
