---
import TagHeading from '@components/common/TagHeading.astro';
import { slugify } from '@js/utils';
import {
   PostCardCategory,
   PostCardContainer,
   PostCardImage,
   PostCardDetailsContainer,
   PostCardTags,
   PostCardSave,
   PostCardDetails,
   PostCardExcerpt,
} from '.';

const { post } = Astro.props;
const { category, featured_image, title, date, author, excerpt, tags } =
   post.data;
---

<script>
   function savePost() {
      const postsToSave = document.querySelectorAll('.save-post');
      postsToSave?.forEach((postsToSave) => {
         postsToSave.addEventListener('click', (event) => {
            console.log('CLICKED');
         });
      });
   }

   savePost();
</script>

<PostCardContainer>
   <PostCardImage
      href={`/blog/${post.slug}`}
      src={featured_image.src}
      alt={featured_image.alt}
      width="400"
      height="250"
      quality={80}
      classes="post-card-img"
   />
   <PostCardCategory
      href={`/blog/category/${slugify(category)}/`}
      text={category}
   />
   <PostCardDetailsContainer>
      <PostCardSave {title} {post} />
      <div style="margin-top: 10px">
         <a data-normal-link href={`/blog/${post.slug}`}>
            <TagHeading tag="h3">{title}</TagHeading>
         </a>
         <PostCardDetails {author} {date} />
      </div>
      <PostCardExcerpt {excerpt} />
      <PostCardTags {tags} />
   </PostCardDetailsContainer>
</PostCardContainer>
