---
import { formatDate } from '@js/utils';

interface Props {
    author: string;
    date: string;
}

const { author, date } = Astro.props;
---

<div class="post-card-details">
   <span class="post-card-author" aria-label={author}>{author}</span>
   <span class="post-card-date" title={formatDate(date)} aria-label={formatDate(date)}>
      {formatDate(date)}
   </span>
</div>

<style>
    .post-card-details {
        position: relative;
        display: flex;
        gap: 10px;
        align-items: flex-end;
        max-width: 100%;
        font-size: var(--fs-4sm);
        font-style: italic;
        color: var(--color-darken-grey);
        flex-wrap: wrap;
        margin-top: 5px;

        .post-card-date {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .post-card-author {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
</style>
