---
import TagHeading from '@components/common/TagHeading.astro';
import { Link } from '@components/common/link';
import { slugify } from '@js/utils';
import {
   PostCardCategory,
   PostCardContainer,
   // PostCardSave,
   PostCardDetails,
   PostCardDetailsContainer,
   PostCardExcerpt,
   PostCardImage,
   PostCardTags,
} from '.';

const { post } = Astro.props;
const { category, featured_image, title, date, author, excerpt, tags } =
   post.data;
---


<PostCardContainer>
   <Link
      href={`/blog/${post.slug}`}
      isFilled={false}
      classes="post-link-wrapper"
      text={title}
   />
   {
      featured_image?.src && (
         <PostCardImage
            src={featured_image.src}
            alt={featured_image.alt}
            width="400"
            height="250"
            quality={80}
            classes="post-card-img"
         />
      )
   }
   <PostCardCategory
      href={`/blog/category/${slugify(category)}/`}
      text={category}
   />
   <PostCardDetailsContainer>
      <div>
         <a data-normal-link class="post-title" href={`/blog/${post.slug}`}>
            <TagHeading tag="h3">{title}</TagHeading>
         </a>
      </div>
      <PostCardDetails {author} {date} />
      <PostCardExcerpt {excerpt} />
      <PostCardTags {tags} />
   </PostCardDetailsContainer>
</PostCardContainer>

<style>
   .post-title {
      padding: 8px 0;
      display: flex;
   }
   .post-link-wrapper {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      overflow-wrap: anywhere;
      width: 100%;
      height: 100%;
      z-index: 10;
   }
</style>
