---
import TagHeading from '@components/common/TagHeading.astro';
import { Link } from '@components/common/link';
import PostCardContainer from './PostCardContainer.astro';
import PostCardImage from './PostCardImage.astro';
import PostCardDetailsContainer from './PostCardDetailsContainer.astro';
import PostCardDetails from './PostCardDetails.astro';
import PostCardExcerpt from './PostCardExcerpt.astro';

const { post } = Astro.props;
const { category, featured_image, title, date, author, excerpt, tags } =
   post.data;
---

<PostCardContainer>
   <Link
      href={`/blog/${post.slug}`}
      isFilled={false}
      classes="link-article"
      data-normal-link
   >
      {
         featured_image?.src && (
            <PostCardImage
               src={featured_image.src}
               alt={featured_image.alt}
               width="400"
               height="250"
               quality={80}
               classes="post-card-img"
            />
         )
      }
      <div class="post-card-link-cat">
         {category}
      </div>
      <PostCardDetailsContainer>
         <TagHeading tag="h3">
            {title}
         </TagHeading>
         <PostCardExcerpt {excerpt} />
         <PostCardDetails {author} {date} />
      </PostCardDetailsContainer>
   </Link>
</PostCardContainer>

<style is:inline>
   #main-body .link-article {
      display: flex;
      &::before {
         content: "";
         transform: none;
         height: 0;
      }
   }
   .post-card-link-cat {
      background: #222;
      opacity: .7;
      border: 0;
      color: white;
      font-size: var(--fs-4sm);
      padding: 2px 10px;
      text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
      border-radius: 3px;
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      text-transform: uppercase;
      pointer-events: none;
   }
</style>
