---
import CommonImage from '@components/CommonImage.astro';

const { src, alt, classes, width, height, ...rest } = Astro.props;
---

<div class="container-img">
   <CommonImage {src} {alt} {width} {height} {classes} {...rest} />
</div>

<style>
   .container-img {
      width: 200px; /* Set your desired static width */
      flex-shrink: 0;
      height: 125px;
      width: 200px;
      border-radius: 5px;
      position: relative;

      img {
         width: 100%;
         height: 100%;
         object-fit: fill;
         object-position: center center;
      }
   }

   @media screen and (width <= 650px) {
      .container-img {
         display: none;
         height: 0;
         visibility: hidden;
      }
   }
</style>
