---
import SocialIcons from '@components/SocialIcons.astro';
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/about-data.json';
import { Image } from 'astro:assets';
---

<MainLayout title={data.title} description={data.description}>
   <section class="container" aria-label="Sobre Mi">
      <div class="content">
         <div class="image-container">
            <Image
               src={data.avatar.src}
               alt={data.avatar.alt}
               width="200"
               height="200"
               format="png"
               quality={80}
               class="hero-image"
            />
         </div>
         <div class="text-container">
            <h1>Sobre Mí</h1>
            <p>
               Soy un desarrollador Full Stack especializado en JavaScript, HTML, CSS y Node.js. También tengo experiencia en Python y he trabajado con tecnologías como React, React Native, Blockchain, WEB3, dApps y smart contracts. ¡Explora mi blog para obtener información y consejos sobre estos temas y más!
            </p>
         </div>
      </div>
      <SocialIcons {data} classes="social-icons" />
   </section>
</MainLayout>

<style is:inline>
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
   }

   .image-container {
      margin-right: 20px;
   }

   .text-container {
      flex: 1;
   }

   .hero-image {
      border-radius: 10px;
      width: 200px;
      height: 200px;
      box-shadow: var(--shadow-md);
   }

   .social-icons {
      display: flex;
      justify-content: center;
      margin: 20px 0;
   }

   .social-icons a {
      margin: 0 10px;
      color: black;
   }

   h1 {
      text-align: center;
      margin-bottom: 10px;
   }

   p {
      text-align: center;
   }
</style>