---
import { Code } from 'astro:components';
import CopyClipboard from '@components/common/CopyClipboard.astro';

const { lang, code } = Astro.props;

function getLineNumbers(code: string): number[] {
   return code.split('\n').map((_, index) => index + 1);
}

const lineNumbers = getLineNumbers(code);
---

<div style="position: relative" data-lines={lineNumbers} data-language={lang}>
   <Code code={code} lang={lang} />
   <xe-copy-clipboard data-text={code}>
      <CopyClipboard icon={{
         width: '16',
         height: '16'
      }}/>
   </xe-copy-clipboard>
</div>

<script>
import { CopyCode } from '@js/custom-elements';

customElements.define('xe-copy-clipboard', CopyCode);
</script>
