---
import { Code } from 'astro:components';
import CopyClipboard from '@components/common/CopyClipboard.astro';

const { lang, code } = Astro.props;

function getLineNumbers(code: string): number[] {
   return code.split('\n').map((_, index) => index + 1);
}

const lineNumbers = getLineNumbers(code);
---

<div style="position: relative" data-lines={lineNumbers} data-language={lang}>
   <span class="lang-code">{lang}</span>
   <Code code={code} lang={lang} />
   <xe-copy-clipboard data-text={code}>
      <div class="container-copyboard">
         <CopyClipboard
            disableTooltip
            icon={{
               width: '16',
               height: '16'
            }}/>
      </div>
   </xe-copy-clipboard>
</div>

<script>
import { CopyCode } from '@js/custom-elements';

customElements.define('xe-copy-clipboard', CopyCode);
</script>
