---
import { Code } from 'astro:components';
import { Icon } from 'astro-icon';

const { lang, code } = Astro.props;

function getLineNumbers(code: string): number[] {
   return code.split('\n').map((_, index) => index + 1);
}

const lineNumbers = getLineNumbers(code);
---

<div style="position: relative" data-lines={lineNumbers} data-language={lang}>
   <Code code={code} lang={lang} />
   <xe-copy-clipboard data-text={code}>
      <span class="copy-clipboard-code tooltip" data-tooltip-placement="left" title="Guardar en el portapapeles">
         <Icon name="ph:copy-light" height="16" width="16" />
      </span>
   </xe-copy-clipboard>
</div>

<script>
import { CopyCode } from '@js/custom-elements';

customElements.define('xe-copy-clipboard', CopyCode);
</script>
