---
import Link from './Link.astro';
const { links } = Astro.props;
---

<nav class="breadcrumbs">
   {
      links.map((link: any) => (
         <Link
            text={link.name}
            href={link.path}
            style="primary"
            isFilled={false}
            data-sidebarLink
            aria-label={link.name}
            classes={`breadcrumbs__item ${link.linkIsActive}`}
         />
      ))
   }
</nav>

<style>
    .breadcrumbs {
        margin: 0 25px;
        border: 1px solid #cbd2d9;
        border-radius: 0.3rem;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--bg-light-papaya);
    }

    .breadcrumbs__item {
        background: #fff;
        color: #333;
        padding: 0.15em 0.75em 0.15em 1em;
        position: relative;
        text-decoration: none;
        transition: background 0.2s linear;
    }

    .breadcrumbs__item:hover:after,
    .breadcrumbs__item:hover {
        background: #edf1f5;
    }

    .breadcrumbs__item:focus:after,
    .breadcrumbs__item:focus,
    .breadcrumbs__item.is-active:focus {
        background: #323f4a;
        color: #fff;
    }

    .breadcrumbs__item:after,
    .breadcrumbs__item:before {
        background: white;
        bottom: 0;
        clip-path: polygon(50% 50%, -50% -50%, 0 100%);
        content: "";
        left: 100%;
        position: absolute;
        top: 0;
        transition: background 0.2s linear;
        width: 1em;
        z-index: 1;
    }

    .breadcrumbs__item:before {
        background: #cbd2d9;
        margin-left: 1px;
    }

    .breadcrumbs__item:last-child {
        border-right: none;
        flex-grow: 1;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    .breadcrumbs__item.is-active {
        background: #edf1f5;
    }

    @media screen and (width <= 500px) {
        .breadcrumbs {
            top: 0;
        }
    }

    @media screen and (width <= 500px),
        screen and (width >= 600px),
        screen and (width >= 400px) {
        .breadcrumbs__item:last-child {
            width: 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .breadcrumbs {
            margin: 0 5px;
        }
    }
</style>
