---
import { Icon } from 'astro-icon';
import type { LinkProps } from 'types/interfaces';

const {
   text,
   href,
   style,
   icon,
   isFilled = true,
   borderVisible = false,
   classes,
   ...rest
} = Astro.props as LinkProps;
---
<a
   href={href}
   class:list={[
      'link',
      classes,
      style,
      { filled: isFilled, bordered: borderVisible }
   ]}
   {...rest}
>
   {
      icon && icon.side === 'left' && (
         <Icon name={icon.name} height={icon.height} width={icon.width} class={icon.class} />
      )
   }

   {text && <span>{text}</span>}

   {
      icon && icon.side === 'right' && (
         <Icon name={icon.name} height={icon.height} width={icon.width} class={icon.class} />
      )
   }
</a>
