---
// library imports
import { Image } from 'astro:assets';

// utils imports
import { formatDate, slugify } from '../js/utils';

const { category, title, author, date, featured_image } = Astro.props;
---

<header>
   <div class="container">
      <small>
         <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
      </small>
      <h1 class="h2">{title}</h1>
      <p>
      by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
            formatDate(date)
         }
      </p>
   </div>
   <Image
      src={featured_image.src}
      alt={featured_image.alt}
      width="1200"
      height="600"
      format="avif"
      quality={80}
      class="hero-image"
   />
</header>