---
import { Link } from '@components/common/link';

interface IconProps {
   iconName: string;
   path: string;
}
interface SocialIcons {
   email?: IconProps;
   linkedin?: IconProps;
   stack?: IconProps;
   twitter?: IconProps;
   github?: IconProps;
}
interface Props {
   data: SocialIcons[];
   classes?: string;
   style?: string;
   linkClass?: string;
}
const { data, classes, style, linkClass, ...rest } = Astro.props;
---

<div class:list={['social-icons', classes]} {style}>
   {
      data.map((social: object) => {
         return Object.keys(social as []).map((s: string) => (
            <Link
               icon={{
                  name: social[s].iconName,
                  side: 'left',
                  width: '22',
                  height: '22'
               }}
               text=""
               href={social[s].path}
               isFilled={false}
               target="_blank"
               title={s}
               classes={linkClass}
               aria-label={social[s].iconName}
               rel="nofollow"
               {...rest}
            />
         ));
      })
   }
</div>

<style is:inline>
   .social-icons {
      display: flex;
      justify-content: center;
      margin: 20px 0;
   }

   .social-icons a {
      margin: 0 5px;
      color: black;
   }
   @media screen and (width <= 650px) {
      .main-header .header-social-icons {
         display: none;
      }
      #main-body:has(#click:checked) .header-social-icons {
         display: flex;
         left: 0;
         position: absolute;
         z-index: 102;
         bottom: calc(100px - 90vh);
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
</style>
