---
import Seo from '@components/Seo.astro';
import data from '@schemas/index-data.json' assert { type: 'json' };
import type { HeadProps } from 'types/interfaces';
import { pwaInfo } from 'virtual:pwa-info';

const {
   title = data.title,
   description = data.description,
   featured_image,
   frontmatter,
   robots,
} = Astro.props as HeadProps;
---

<head>
   <meta charset="UTF-8" />
   <meta name="generator" content={Astro.generator} />
   <meta name="description" content={description} />
   <meta name="author" content="Sergiu Mironescu" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
   <meta name="theme-color" content="#222">
   <Seo
      {title}
      {description}
      url={Astro.url}
      {featured_image}
      {frontmatter}
      {robots}
   />
   <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
   <link rel="sitemap" href="/sitemap-index.xml" />
   <title>{title}</title>
   { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
   <script src="/src/pwa/pwa.ts"></script>
</head>
