---
import Seo from "@components/Seo.astro";
import data from "@schemas/index-data.json";
import type { HeadProps } from "types/interfaces";

const {
   title = data.title,
   description = data.description,
   featured_image,
   frontmatter,
   robots,
} = Astro.props as HeadProps;
---

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width" />
   <meta name="generator" content={Astro.generator} />
   <meta name="description" content={description} />
   <Seo
      {title}
      {description}
      url={Astro.url}
      {featured_image}
      {frontmatter}
      {robots}
   />
   <link rel="icon" type="image/x-icon" href="/favicon.ico" />
   <link rel="sitemap" href="/sitemap-index.xml" />
   <title>{title}</title>
</head>
