---
// import Logo from '@components/Logo.astro';
// import ToggleTheme from '@components/ToggleTheme.astro';
// import Sidebar from '@components/sidebar/Sidebar.astro';
import data from '@schemas/index-data.json';
import '@styles/global.css';
import type { HeadProps } from 'types/interfaces';
import MainFooter from '@layouts/footer/MainFooter.astro';
import MainHead from '@layouts/header/MainHead.astro';
import MainHeader from '@layouts/header/MainHeader.astro';
import MainNav from '@layouts/nav/MainNav.astro';

const {
   title = data.title,
   description = data.description,
   featured_image,
   frontmatter,
   robots,
} = Astro.props as HeadProps;
---

<!doctype html>
<html lang="es">
   <MainHead {title} {description} {featured_image} {frontmatter} {robots} />
   <body>
      <MainHeader>
         <!-- <Logo /> -->
         <MainNav />
         <!-- <ToggleTheme style={{ marginLeft: 'auto' }} /> -->
      </MainHeader>
      <main>
         <slot> Default Text</slot>
         <!-- <Sidebar /> -->
      </main>
      <MainFooter />
   </body>
</html>
