---
import Logo from '@components/Logo.astro';
import ToggleTheme from '@components/ToggleTheme.astro';
import Sidebar from '@components/sidebar/Sidebar.astro';
import data from '@schemas/index-data.json';
import '@styles/global.css';
import type { HeadProps } from 'types/interfaces';
import MainFooter from './MainFooter.astro';
import MainHead from './MainHead.astro';
import MainHeader from './MainHeader.astro';

const {
   title = data.title,
   description = data.description,
   featured_image,
   frontmatter,
   robots,
} = Astro.props as HeadProps;
---

<!doctype html>
<html lang="es">
   <MainHead {title} {description} {description} {featured_image} {frontmatter} {robots}/>
   <body>
      <MainHeader>
         <Logo />
         <ToggleTheme style={{ marginLeft: 'auto' }} />
         <!-- <MainNav /> -->
      </MainHeader>
      <!-- Header -->
      <!-- Nav -->
      <!-- Header -->
      <main>
         <slot> Default Text</slot>
         <!-- Sidebar -->
         <Sidebar />
         <!--- Articles -->
      </main>
      <!-- Footer -->
      <MainFooter />
      <script>
         declare global {
            interface Window {
               netlifyIdentity: any
            }
         }

         if (window.netlifyIdentity) {
            window.netlifyIdentity.on('init', (user: any) => {
               if (!user) {
                  window.netlifyIdentity.on('login', () => {
                     document.location.href = '/admin/';
                  });
               }
            });
         }
      </script>
   </body>
</html>
