---
import { PostCard } from '@components/PostCard';
import MainLayout from '@layouts/MainLayout.astro';
import data from '@schemas/portfolio-data.json';
import { getCollection } from 'astro:content';

const portfolioEntries = await getCollection('portfolio');
---

<MainLayout title={data.title} description={data.description}>
   <section class="container" aria-label="Publicaciones Recientes">
      <div class="post-container">
         {portfolioEntries.map((entry) => <PostCard post={entry} />)}
      </div>
      <!-- <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
      <aside class="container" aria-label="Blog categories">
         <h2 class="h3">Blog Categories</h2>
         <CategoryCloud showCount={true}/>
      </aside> -->
   </section>
</MainLayout>@components/postcard